# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/*.tfplan

# Python
venv/
.venv/
__pycache__/
*.pyc

# Env/secrets
.env
app.db
null
ocid1.*
